<h1>Itens</h1>
<%= link_to "Cadastrar Item", new_item_path %>

<section><%= search_form_for @q do |f| %>

    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    <%= f.submit %>
  <% end %>
</section>

<section>
  <table>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to "Detalhar", item_path(item.id) %></td>
      </tr>
    <% end %>
  </table>
</section>
