<h1>Log de Movimentações de: <%= @logs.first.product_name %></h1>
<li><%= link_to "Lista do Estoque", items_path %></li>

<li><%= link_to "Todos as movimentações", logs_path %></li>


<section>
  <table>
    <tr>
      <th>Email do Usuário</th>
      <th>Quantidade movimentada</th>
      <th>Ação</th>
    </tr>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.user.email %></td>
        <td><%= log.quantity %></td>
        <td><%= log.action %></td>
      </tr>
    <% end %>
  </table>
</section>

